/* .container{
  width: 60px;
  height: 60px;
  border-radius: 5px;
  border: black 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  cursor: pointer;
  box-sizing: border-box;
}
.image{
  height: 27px;
  object-fit: cover;
} */
